:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-satisfy: 'Satisfy', cursive;
}

/*
 *  Color variables 
 */

:root {
  --color-page-background: #ffffff;

  // Text
  --color-text-default: #000000;
  --color-text: #030303;
  --color-text-reverse: #ffffff;
  --color-yellow: #ffcd44ec;
  --color-main: #ffb546;
}

.dark {
  --color-page-background: #000000;

  // Text
  --color-text-default: #ffffff;
  --color-text: #ececec;
  --color-text-reverse: #000000;
}
