.tagContent {
  width: 80px;
  min-width: 80px;
  height: 30px;
  background-color: black;
  border-radius: 100rem;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  font-style: italic;
  font-size: 0.8rem;
}
