@use 'abstracts/variables' as *;
@use 'base/reset' as *;
@use 'base/typography' as *;

body {
  color: var(--color-text-default);
  font-family: var(--font-poppins);
  background-color: var(--color-page-background);
}

/* width */
*::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 10px;
  border: 1px solid rgb(151, 151, 151);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
